
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Login to your account</h2>
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                    {
                        <input type="text" placeholder="Name" id="userName" name="userName">
                        <input type="password" placeholder="Password" id="password" name="password">
                        <span>
                            <input type="checkbox" class="checkbox" name="RememberMe" id="RememberMe">
                            <label for="RememberMe"> Keep me signed in</label>
                        </span>
                        <button type="submit" class="btn btn-default">Login</button>
                    }
                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">OR</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>New User Signup!</h2>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                    {
                        <input type="text" placeholder="Name" name="userName">
                        <input type="password" placeholder="Password" name="password1">
                        <input type="password" placeholder="Password" name="password2">
                        <button type="submit" class="btn btn-default">Signup</button>
                    }
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
</section>

