
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <!--login form-->
                    <h2>Войти в свой аккаунт</h2>
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                    {
                        <input type="text" placeholder="Логин" id="userName" name="userName">
                        <input type="password" placeholder="Пароль" id="password" name="password">
                        <span>
                            <input type="checkbox" class="checkbox" name="RememberMe" id="RememberMe">
                            <label for="RememberMe"> Запомнить меня</label>
                        </span>
                        <div>
                            <button type="submit" class="btn btn-default" >Войти</button>
                            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Забыли пароль?</button>
                            
                        </div>
                        
                    }
                </div><!--/login form-->
            </div>
            <div class="col-sm-1">
                <h2 class="or">ИЛИ</h2>
            </div>
            <div class="col-sm-4">
                <div class="signup-form">
                    <!--sign up form-->
                    <h2>Регистрация нового пользователя</h2>
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
                    {
                        <input type="text" placeholder="Логин" name="userName">
                        <input type="email" placeholder="Email" name="email">
                        <input type="password" placeholder="Пароль" name="password1">
                        <input type="password" placeholder="Подтверждение пароля" name="password2">
                        <button type="submit" class="btn btn-default">Регистрация</button>
                    }
                </div><!--/sign up form-->
            </div>
        </div>
    </div>
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <form class="form-horizontal" role="form" method="post" action="/account/ResetPassword">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" type="button" data-dismiss="modal">×</button>
                        <h4 class="modal-title">Восстановление аккаунта</h4>
                    </div>
                    <div class="modal-body">
                        <p>Что бы восстановить доступ к аккаунту нужно указать адрес электронной почты аккаунта.</p>

                        <div class="form-group">
                            <label for="email" class="col-sm-3 control-label">Эл. адрес</label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" type="submit">Отправить</button>
                        <button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

@section scripts{
    <script>
       

    </script>
}

