
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<h2>Авторизация</h2>
<hr />
<div>
    <form class="form-horizontal" role="form" method="post" id="form">
        <div class="form-group">
            <label for="userName" class="col-sm-2 control-label">Логин</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="userName" name="userName" placeholder="Login" style="max-width:300px;" data-toggle="tooltip" data-placement="right">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Пароль</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" style="max-width:300px;" data-toggle="tooltip" data-placement="right">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <label for="RememberMe" >Запомнить меня</label>
                    <input type="checkbox" name="RememberMe" id="RememberMe" />
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-default">Войти</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    $(function () {
        $('[type=button]').click(function () {
            if (($('#userName').val().length) < 4) {
                $('#userName').attr("data-original-title", "Не менее 4 символов");
                $('#userName').tooltip('show');
            }
            else if ($('#password').val().length < 5) {
                $('#userName').tooltip('hide');
                $('#password').attr("data-original-title", "Не менее 5 символов");
                $('#password').tooltip('show');
            }
            else $('#form').submit();
        });
    });
    </script>
}