
@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<hr />
<h2>Регистрация</h2>
<hr />
<form class="form-horizontal" role="form" method="post" id="form">
    <div class="form-group">
        <label for="login" class="col-sm-2 control-label">Логин</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="login" name="userName" placeholder="Login" style="max-width:300px;" data-toggle="tooltip" data-placement="right">
        </div>
    </div>
    <div class="form-group">
        <label for="pass1" class="col-sm-2 control-label">Пароль</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="pass1" name="password1" placeholder="Password" style="max-width:300px;" data-toggle="tooltip" data-placement="right">
        </div>
    </div>
    <div class="form-group">
        <label for="pass2" class="col-sm-2 control-label">Подтверждение пароля</label>
        <div class="col-sm-10">
            <input type="password" class="form-control" id="pass2" name="password2" placeholder="Password" style="max-width:300px;" data-toggle="tooltip" data-placement="right">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="button" class="btn btn-default" id="button">Регистрация</button>
        </div>
    </div>
</form>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script>
    $(function () {
        $('[type=button]').click(function () {
            if (($('#login').val().length) < 4) {
                $('#login').attr("data-original-title", "Не менее 4 символов");
                $('#login').tooltip('show');
            }
            else if ($('#pass1').val().length < 5) {
                $('#login').tooltip('hide');
                $('#pass1').attr("data-original-title", "Не менее 5 символов");
                $('#pass1').tooltip('show');
            }
            else if ($('#pass2').val().length < 5) {
                $('#pass2').attr("data-original-title", "Не менее 5 символов");
                $('#pass2').tooltip('show');
            }
            else if ($('#pass1').val() != $('#pass2').val()) {
                $('#pass1').attr("data-original-title", "Пароли не совпадают");
                $('#pass2').attr("data-original-title", "Пароли не совпадают");
                $('#pass1').tooltip('show');
                $('#pass2').tooltip('show');            
            }
            else $('#form').submit();
        });
    });
</script>
}
