@model List<IServices.Models.ModelStatusOrder>

@{
    Layout = null;
}
<p class="lead">
    Выберите один из приведенных ниже статусов:
</p>
@*@foreach (var status in Model)
{
    <button value="@status.Id" class="btn btn-success EditOrderStatus" data-dismiss="modal">
        @status.Name
    </button>
}*@

<div class="form-group">
    @*<label class="control-label col-md-3">Large Input</label>*@
    <div class="col-md-4">
        <select class="form-control input-large select2me input-lg" data-placeholder="Select...">
            @foreach (var status in Model)
            {
                <option value="@status.Id">@status.Name</option>
            }
        </select>
        
    </div>
</div>