@model IServices.Models.Product.ModelCategories
@{
    Layout = null;
}

@foreach (var category in Model.GetParents())
{
    <optgroup label="@category.Name">
        @foreach (var child in Model.GetChild(category.Id))
                {
            <option value="@child.Id">@child.Name</option>
        }
    </optgroup>

}