
<div class="row" id="Products">
    @Html.Action("AjaxProducts", "Products", new { area = "Admin" })
</div>

@section scripts{
    <!-- Подключение плагина Select2 -->

<script>
    //Подтверждение удаления товара
    $('[data-toggle=confirmation]').click(function () {
        var id = $(this).val();
        bootbox.confirm("Вы действительно хотите удалить товар?", function (e) {
            if (e) {
                deleteProduct(id);
            }
        });
        return false;
    });
</script>   
}