
@{
    ViewBag.Title = "Корзина";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<section id="cart_items" data-href="@Url.Action("AjaxCart","Order")">
    @Html.Action("AjaxCart", "Order")
</section>
<!--/#cart_items-->


@*<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>Что дальше?</h3>
            <p>Укажите имеется ли у вас купон на скидку или баллы, чтобы оценить стоимость доставки.</p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="chose_area">
                    <ul class="user_option">
                        <li>
                            <input type="checkbox">
                            <label>Использовать купон</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Использовать подарочный сертификат</label>
                        </li>
                        <li>
                            <input type="checkbox">
                            <label>Ускоренная доставка</label>
                        </li>
                    </ul>
                    <ul class="user_info">
                        <li class="single_field">
                            <label>Страна:</label>
                            <select>
                                <option>United States</option>
                                <option>India</option>
                                <option>Canada</option>
                                <option>Dubai</option>
                            </select>

                        </li>
                        <li class="single_field">
                            <label>Регион / Область:</label>
                            <select>
                                <option>Select</option>
                                <option>London</option>
                                <option>Canada</option>
                                <option>Dubai</option>
                            </select>

                        </li>
                        <li class="single_field zip-field">
                            <label>Почтовый индекс:</label>
                            <input type="text">
                        </li>
                    </ul>
                    <a class="btn btn-default update" href="">Проверить</a>
                    <a class="btn btn-default check_out" href="">Продолжить</a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="total_area">
                    <ul>
                        <li>Общая стоимость <span>$59</span></li>
                        <li>Налог <span>$2</span></li>
                        <li>Стоимость доставки <span>Бесплатно</span></li>
                        <li>Итого к оплате<span>$61</span></li>
                    </ul>
                    <a class="btn btn-default update" href="">Обновить</a>
                    <a class="btn btn-default check_out" href="">Перейти к оплате</a>
                </div>
            </div>
        </div>
    </div>
</section>*@

@section scripts{

}

