
<div class="row" id="Orders">
    @Html.Action("AjaxOrders", "Users", new { area = "Admin" })
</div>

@section scripts{
       <script>
    $(document).ready(function () {
        var OrderId;
        $('[data-target=#EditOrderStatusModal]').click(function () {
            OrderId = $(this).val();
        });

        $('button.EditOrderStatus').click(function () {

            var select = $('#OrderStatuses');
            var SelectedOrderStatus = $(':selected', select).val();
            var formaData = new FormData();

            formaData.append("OrderId", OrderId);
            formaData.append("StatusId", SelectedOrderStatus);

            $.ajax({
                type: "POST",
                url: '/Admin/Users/EditOrderStatus',
                contentType: false,
                processData: false,
                data: formaData,
                success: function (result) {
                    console.log(result);
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        });
    });
</script>
}
