
<div class="row" id="Orders">

</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#Orders').load("http://localhost:58081/Admin/Users/AjaxOrders");
        
        });
        
    </script>    
}
