
<div class="row" id="Products">
    
</div>

@section scripts{
    <script>
    $(document).ready(function () {

        $('#Products').load("http://localhost:58081/Admin/Admin/upProducts");

    });
</script>    
}