@model IEnumerable<IServices.Models.UserInfo>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box grey-cascade">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-users">&nbsp;</i>Управление пользователями
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse" data-original-title="" title="">
                    </a>
                    <a href="#portlet-config" data-toggle="modal" class="config" data-original-title="" title="">
                    </a>
                    <a href="javascript:;" id="reloadUsers" class="reload" data-original-title="" title="">
                    </a>
                    <a href="javascript:;" class="remove" data-original-title="" title="">
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button id="sample_editable_1_new" class="btn green" data-toggle="modal" data-target="#myModal">
                                    Добавить нового <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="dataTables_wrapper no-footer" id="upUsers"></div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>


<style>
    
</style>
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">×</button>
                <h4 class="modal-title">Добавить пользователя</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="userName" class="col-sm-4 control-label">Имя пользователя</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="userName" name="userName" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-4 control-label">Эл. адрес</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="col-sm-4 control-label">Пароль</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                </div>
                
                </div>
            <div class="modal-footer">
                <button class="btn btn-success" id="AddUser">Сохранить</button>
                <button class="btn btn-default" type="button" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#upUsers').load("http://localhost:58081/Admin/upUsers");
        
            $('#AddUser').click(function () {
                var data = {
                    userName: $('#userName').val(),
                    email: $('#email').val(),
                    password: $('#password').val()
                }
            $.ajax({
                type: "POST",
                url: 'AddUser',
                
                data: data,
                success: function (result) {
                    console.log(result);
                },
                error: function (xhr) {
                    console.log(xhr.responseText);
                }
            });
        });
        });
        
    </script>    
}
